body{
   
}
h3{
    letter-spacing: 2px;
    margin-top: 80px;
    font-family: ubuntu;
}
.content{
 padding: 2%;
}

li{
    font-size: 16px;
}
li span{
    display: block;
}
.cross {
    cursor: pointer;
    margin-top: 1%;
    margin-right: 2%;
}
ul.collapsible li {
    padding-bottom: 1%;
}
.collapsible-header, .collapsible-body {
    background-color: rgb(243, 243, 186);
}
