/* body{
    
} */
h3{
    letter-spacing: 2px;
    margin-top: 80px;
    font-family: ubuntu;
}
.content{
 padding: 2%;
}

ul{
    list-style-type: none;
    padding: 0;
}

li{
    background: #f6f6f6;
    border-bottom: 1px solid #e6e6e6;
    font-size: 16px;
}
li span{
    display: block;
}
.cross {
    cursor: pointer;
}